@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Questrial&display=swap');

body {
    padding: 3rem;
}

p {
    font-family: "Nunito Sans", sans-serif;
    text-align: start;
    color: black;
    font-size: 1rem;

}

h1 {
    color: black;
    font-size: 4rem;
}

blockquote {
    font-family: "Nunito Sans", sans-serif;
    font-style: italic;
    color: gray;
}

.michael-section {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: 4rem;
}

.michael-rock {
    font-family: "Climate Crisis", sans-serif;
    font-size: 1rem;
}

.hooked {
    font-family: "Climate Crisis", sans-serif;
    text-align: start;
}

.on-a {
    font-family: "Climate Crisis", sans-serif;
    text-align: center;
}

.feeling {
    font-family: "Climate Crisis", sans-serif;
    text-align: end;
}

.sooim-section {
    font-family: "Questria", sans-serif;
    color: darkslateblue;
    font-size: 4rem;
}

.fooled {
    font-family: "Climate Crisis", sans-serif;
    text-align: start;
}

.on-a-ii {
    font-family: "Climate Crisis", sans-serif;
    text-align: center;
}

.feeling-ii {
    font-family: "Climate Crisis", sans-serif;
    text-align: end;
}

*:not(:first-child) { 
    margin-block-start: 1em;
}