@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url("https://use.typekit.net/nrx3trj.css");

:root {
	font-size: 110%;
}

#logo {
	border-block-end-color: rgb(209, 209, 214);
	border-block-end-style:	solid;
	border-block-end-width: .08rem;
	color: black;
	inline-size: 100vw;
	margin-inline: calc(50% - 50vw); /* I learned this off our class site under Box Model unit. */
	text-align: center;
	font-family: "carol-gothic", serif;
	font-size: 2rem;
	padding-block: .5rem;
}

body {
	max-inline-size: 80ch;
	margin-inline: auto;
	hyphens: none; 	/* I learned this on MDN. */
	margin-block-end: 5rem;
}

#hero {
	border-block-end-color: rgb(209, 209, 214);
	border-block-end-style:	solid;
	border-block-end-width: .08rem;
	color: black;
	margin-block-start: 3rem;
}

#hero > a:first-of-type {
	font-family: "franklin-gothic-atf", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: .8rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .02em;
}

h1 {
	font-family: "Libre Baskerville", serif;
	font-size: 2.5rem;
	font-weight: 700;
	font-style: normal;
	line-height: 1.3em;
	letter-spacing: -.03em;
	margin-block: 1rem;
}

#hero p {
	font-family: "Libre Baskerville", serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
	line-height: 1.5em;}

.no-break {
	white-space: nowrap;
}

p:not(.author, .publication-date, #sk-review, #prompt, #ask-anything, #chat-header, #thinking) {
	font-family: "Libre Baskerville", serif;
	letter-spacing: .01em;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	line-height: 1.8em;
	margin-block-end: 2rem;
}

#blue a[href^='https://']::after,
#gray a[href^='https://']::after { 
	content: ' ↗'; 
}

#blue a[href^='https://']:link, 
#gray a[href^='https://']:link {
	color: black;
	text-decoration: underline;
}

#blue a[href^='https://']:visited,
#gray a[href^='https://']:visited { 
	color: purple; 
}

#blue a[href^='https://']:hover { 
	color: rgb(100, 147, 230);
}

#blue a[href^='https://']:active { 
	color: rgb(65, 96, 150);
}

#gray a[href^='https://']:hover {
	color: rgb(48, 48, 48);
}

#gray a[href^='https://']:active { 
	color: rgb(33, 33, 33);
}

/* I learned about these a: from the class Week 4 CSS page. */

em {
	font-style: italic;
}

.highlight {
	background-color: rgb(100, 147, 230); 
	color: white;
}

.highlight-ii {
	background-color: rgb(189, 112, 196); 
	color: white;
}

.highlight-iii {
	background-color: rgb(48, 48, 48); 
	color: white;
}

nav {
	margin-block-start: 10rem;
	margin-block-end: 2.5rem;
}

#blue-button:hover {
	background-color: rgb(100, 147, 230);
	color: white;
	border-color: rgb(100, 147, 230);
}

#blue-button:active {
	background-color: rgb(65, 96, 150);
	color: white;
	border-color: rgb(65, 96, 150);
}

#purple-button:hover {
	background-color: rgb(189, 112, 196);
	color: white;
	border-color: rgb(189, 112, 196);
}

#purple-button:active {
	background-color: rgb(142, 83, 147);
	color: white;
	border-color: rgb(142, 83, 147);
}

#gray-button:hover {
	background-color: rgb(48, 48, 48);
	color: white;
	border-color: rgb(48, 48, 48);
}

#gray-button:active {
	background-color: rgb(33, 33, 33);
	color: white;
	border-color: rgb(33, 33, 33);
}

article {
	border-block-end-color: rgb(209, 209, 214);
	border-block-end-style: solid;
	border-block-end-width: .08rem;
	padding-block-end: 3rem;
}

article:nth-child(2) {
	margin-block-end: 5rem;
}

.article-header {
	font-family: "Rethink Sans", sans-serif;
	font-weight: 800;
	letter-spacing: .05em;
	text-transform: uppercase;
	border-block-end-color: rgb(209, 209, 214);
	border-block-end-style: solid;
	border-block-end-width: .08rem;
	padding-block: 3rem;
	margin-block-end: 2rem;
}

.author {
	text-align: left;
}

.article-header h2 {
	color: white;
	line-height: .8em;
	font-size: 4rem;
}

.article-header p {
	color: black;
	font-size: 2rem;
	margin-block: 1rem;
}

.label {
	display: block;
	width: fit-content; /* I learned this on MDN so the highlight color stretches only across the word's element container. */
	padding-inline: 1ch;
	padding-block: .8ch;
	background-color: rgb(100, 147, 230);
}

.left {
	margin-inline: 0; 
}

.center {
	margin-inline: auto; 
}

.right { 
	margin-inline-start: auto; 
}

.publication-date {
	text-align: right;
}

#tldr-michael {
	background-color: rgb(100, 147, 230); 
	color: white;
	font-family: "Rethink Sans", sans-serif;
	text-align: left;
	padding: 2.5rem;
	margin-block-start: 5rem;
	scroll-margin-block-start: 3rem; /* Saw this on your slack comment */

}

h3 {
	letter-spacing: 0.05em;
	font-size: 2rem;
	color: white;
	font-weight: 800;
	text-transform: uppercase;
}

blockquote {
	font-size: 1.5rem;
	font-weight: 100;
	padding-block-start: 2rem;
}

.label-ii {
	display: block;
	width: fit-content;
	padding-inline: 1ch;
	padding-block: .8ch;
	background-color: rgb(189, 112, 196);
}

#tldr-sooim {
	background-color: rgb(189, 112, 196);
	color: white;
	font-family: "Rethink Sans", sans-serif;
	text-align: left;
	padding: 2.5rem;
	margin-block-start: 5rem;	
	scroll-margin-block-start: 3rem;
}

#chat-box:not(#thinking) {
	background-color: rgb(33, 33, 33);
	color: white;
	padding-block: 2rem;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-block: 2rem;
}

#chat-header {
	font-size: 1.3rem;
	text-align: center;
	margin-block-end: 2rem;
}

#ask-anything {
	background-color: rgb(48, 48, 48);
	color: rgb(175, 175, 175);
	max-inline-size: 60ch;
	margin-inline: auto;
	padding-block: 1rem;
	padding-inline-start: 2ch;
	border-radius: 5rem;
	border-color: rgb(60, 60, 60);
	border-width: .1rem;
	border-style: solid;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	line-height: 1.5em;
}

#prompt {
	background-color: rgb(48, 48, 48);
	padding: 1rem;
	border-radius: 1rem;
	font-size: 1rem;
	text-align: left;
	line-height: 1.5em;
	margin-block-end: 2rem;
	max-inline-size: 50ch;
	margin-inline-start: 8rem; /* hoping there's a more efficient way to do this with next unit flex/grid */
}

#thinking {
	background-color: rgb(33, 33, 33);
	color: rgb(81, 81, 81);
	padding-inline-start: 2rem;
	font-family: "Inter", sans-serif;
	font-weight: 00;
	font-style: normal;
	max-inline-size: 30ch;
	margin-block-end: 2rem;
}

.label-iii {
	display: block;
	width: fit-content; 
	padding-inline: 1ch;
	padding-block: .8ch;
	background-color: rgb(48, 48, 48);
}

#tldr-chatgpt {
	background-color: rgb(48, 48, 48);
	color: white;
	font-family: "Rethink Sans", sans-serif;
	text-align: left;
	padding: 2.5rem;
	margin-block-start: 5rem;
	scroll-margin-block-start: 3rem; 
}

footer {
	margin-block-start: 2.5rem;
}

li {
	display: inline-block;
	margin-inline-end: .5rem;
}

li a {
	font-family: "franklin-gothic-atf", sans-serif;
	font-size: .8rem;
	text-decoration: none;
	border-color: rgb(209, 209, 214);
	border-width: .08rem;
	border-style: solid;
	border-radius: .5rem;
	text-align: center;
	padding: 1ch;
}

li a:hover {
	background-color: rgb(209, 209, 214); 
}

li a:active {
	background-color: rgb(142, 142, 147); 
	border-color: rgb(142, 142, 147);
}
