@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url("https://use.typekit.net/nrx3trj.css");

:root {
	font-size: 110%;
}

body {
	max-inline-size: 80ch;
	margin-inline: auto;
	hyphens: none; 	/* I learned this on MDN. */
	margin-block: 4rem;
}

#hero {
	border-block-end-color: rgb(209, 209, 214);
	border-block-end-style:	solid;
	border-block-end-width: .08rem;
	color: black;
}

#hero > a:first-of-type {
	font-family: "franklin-gothic-atf", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: .8rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .02em;
}

h1 {
	font-family: "Libre Baskerville", serif;
	font-size: 2.5rem;
	font-weight: 700;
	font-style: normal;
	line-height: 1.3em;
	letter-spacing: -.03em;
	margin-block: 1rem;
}

#hero p {
	font-family: "Libre Baskerville", serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
	line-height: 1.5em;
	letter-spacing: 0rem;
}

.no-break {
	white-space: nowrap;
}

p:not(.author, .publication-date) {
	font-family: "Libre Baskerville", serif;
	letter-spacing: .01em;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	line-height: 1.8em;
	margin-block-end: 2rem;
}

section a[href^='https://']::after { 
	content: ' ↗'; 
}

section a[href^='https://']:link {
	color: black;
	text-decoration: underline;
}

section a[href^='https://']:visited { 
	color: purple; 
}

section a[href^='https://']:hover { 
	color: crimson;
}

section a[href^='https://']:active { 
	color: maroon;
}

/* I learned about these a: from the class Week 4 CSS page. */

em {
	font-style: italic;
}

.highlight {
	background-color: crimson; 
	color: white;
}

.highlight-ii {
	background-color: rgb(220, 170, 20); 
	color: white;
}

nav {
	margin-block-start: 8rem;
	margin-block-end: 2.5rem;
}

#red-button:hover {
	background-color: crimson;
	color: white;
	border-color: crimson;
}

#red-button:active {
	background-color: rgb(145, 14, 40);
	color: white;
	border-color: rgb(145, 14, 40);
}

#yellow-button:hover {
	background-color: rgb(220, 170, 20);
	color: white;
	border-color: rgb(220, 170, 20);
}

#yellow-button:active {
	background-color: rgb(170, 132, 15);
	color: white;
	border-color: rgb(170, 132, 15);
}

article {
	border-block-end-color: rgb(209, 209, 214);
	border-block-end-style: solid;
	border-block-end-width: .08rem;
	padding-block-end: 3rem;
}

.article-header {
	font-family: "Rethink Sans", sans-serif;
	font-weight: 800;
	letter-spacing: .05em;
	text-transform: uppercase;
	border-block-end-color: rgb(209, 209, 214);
	border-block-end-style: solid;
	border-block-end-width: .08rem;
	padding-block: 3rem;
	margin-block-end: 2rem;
}

.author {
	text-align: left;
}

.article-header h2 {
	color: white;
	line-height: .8em;
	font-size: 4rem;
}

.article-header p {
	color: black;
	font-size: 2rem;
}

.label {
	display: block;
	width: fit-content;
	padding-inline: 1ch;
	padding-block: .8ch;
	background-color: crimson;
	margin-block: 0rem;
}

.left {
	margin-inline: 0; 
}

.center {
	margin-inline: auto; 
}

.right { 
	margin-inline-start: auto; 
}

.publication-date {
	text-align: right;
}

#tldr-michael {
	background-color: crimson; 
	color: white;
	font-family: "Rethink Sans", sans-serif;
	text-align: left;
	padding: 2.5rem;
	margin-block-start: 5rem;
}

h3 {
	letter-spacing: 0.05em;
	font-size: 2rem;
	color: white;
	font-weight: 800;
	text-transform: uppercase;
}

blockquote {
	font-size: 1.5rem;
	font-weight: 100;
	padding-block-start: 2rem;
}

.label-ii {
	display: block;
	width: fit-content;
	padding-inline: 1ch;
	padding-block: .8ch;
	background-color: rgb(220, 170, 20);
	margin-block: 0rem;
}

#tldr-sooim {
	background-color: rgb(220, 170, 20);
	color: white;
	font-family: "Rethink Sans", sans-serif;
	text-align: left;
	padding: 2.5rem;
	margin-block-start: 5rem;
}

footer {
	margin-block-start: 2.5rem;
}

li {
	display: inline-block;
	margin-inline-end: .5rem;
}

li a {
	font-family: "franklin-gothic-atf", sans-serif;
	font-size: .8rem;
	text-decoration: none;
	border-color: rgb(209, 209, 214);
	border-width: .08rem;
	border-style: solid;
	border-radius: .5rem;
	text-align: center;
	padding: 1ch;
}

li a:hover {
	background-color: rgb(209, 209, 214); 
}

li a:active {
	background-color: rgb(142, 142, 147); 
	border-color: rgb(142, 142, 147);
}
